<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1><strong>RAD</strong>app</h1>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <small>Copyright &copy; Orange Polska | 2021<br>Contact: michal.nowak2@orange.com</small>
        </footer>
    </body>
</html>